body {
  background-color: bisque;
  font-family: Verdana, Arial, sans-serif;
}

#index,
h1 {
  text-align: center;
}

ul#index-list {
  display: inline-block;
  text-align: left;
  font-size: x-large;
}