body {
  background-color: bisque;
  font-family: Verdana, Arial, sans-serif;
}

div {
  text-align: center;
}

div.list ul,
div.list ol {
  display: inline-block;
  text-align: left;
  font-size: x-large;
}

a.index-link {
  font-size: larger;
  font-weight: bolder;
}

p.pheader {
  font-size: xx-large;
  font-weight: bold;
}

p {
  font-size: x-large;
}

a.recipe-link {
  font-size: larger;
  font-weight: bold;
}